<div *ngIf="complete" (click)="goToGallery(photo.tag, photo.userId)" class="card bg-light mb-3 cursor--pointer" style="max-width: 18rem;">
    <div class="card-header"><i class="fas fa-tag"></i> <strong>{{photo.tag}}</strong></div>
    <div class="photo-gap">
      <img class="card-img-top" src={{photo.url_q}} alt="Photo">
    </div>
    <div class="card-body">
      <p class="card-text"><i class="fas fa-user"></i> {{photo.ownername}}</p>
      <p class="card-text"><i class="fas fa-camera"></i> {{photo.datetaken | date}}</p>
      <p class="card-text"><i class="fas fa-cloud-upload-alt"></i> {{photo.dateupload | date}}</p>
      <p class="card-text"><i class="fas fa-eye"></i> {{photo.views}}</p>
    </div>
</div>

<div *ngIf="!complete" class="card bg-light mb-3" style="max-width: 18rem;">
    <div class="photo-gap">
      <img class="card-img-top" src={{photo.url_q}} alt="Photo">
    </div>
</div>