<div class="jumbotron gallery-header">
    <h2><i class="fas fa-tag"></i> {{tag}}</h2>
    <button routerLink="/" type="button" class="btn btn-secondary">Back</button>
</div>

<app-pagination *ngIf="hasPhotos()" (onChangePage)="goToPage($event)" [page]="page" [totalPages]="totalPages"></app-pagination>

<div *ngIf="hasPhotos()" [class.loading]="isLoading" class="photo-gallery">
    <app-photo *ngFor="let photo of photos" [photo]="photo" [complete]=false></app-photo>
</div>

<app-pagination *ngIf="hasPhotos()" (onChangePage)="goToPage($event)" [page]="page" [totalPages]="totalPages"></app-pagination>
