<div class="jumbotron search-area">
  <h2>Flickr Search</h2>
  <form>
    <div class="form-group">
      <label for="tagSearch">Tags</label>
      <input #inputTag type="text" 
        (keyup.enter)="search(inputTag.value, inputUser.value)" 
        class="form-control" 
        [(ngModel)]="tagValue" 
        name="tagSearch" 
        placeholder="Enter tag">
    </div>
    <div class="form-group">
      <label for="userSearch">User ID</label>
      <input #inputUser type="text" 
        (keyup.enter)="search(inputTag.value, inputUser.value)" 
        class="form-control" 
        [(ngModel)]="userValue" 
        name="userSearch" 
        placeholder="Enter user ID (optional)">
    </div>
    <div class="search-buttons">
      <button type="button" (click)="search(inputTag.value, inputUser.value)" class="btn btn-primary" 
        [disabled]="isFormInvalid()" [class.disabled]="isFormInvalid()">Search</button>
      <button type="button" (click)="cancel()" class="btn btn-secondary">Cancel</button>
    </div>
  </form>
</div>
